{% if localization.available_languages.size > 1 %}
  <localization-form>
    {%- assign form_id = 'localization-language-' | append: section.id -%}
    {% form 'localization', id: form_id %}
      <input type="hidden" name="language_code" value="{{ localization.language.iso_code }}">
      <div class="disclosure relative d-inline-flex py-5" class="d-none-desktop">
        <div class="button-localization disclosure__button">
          {{ localization.language.endonym_name | capitalize }}
          <i class="icon-chevron-down"></i>
        </div>

        <ul class="disclosure__list p-20 list-none my-0 absolute right-0 color-default-color-scheme gradient hidden">
          {% for language in localization.available_languages %}
            <li class="disclosure__item" tabindex="-1">
              <a
                href="#"
                {% if language.iso_code == localization.language.iso_code %}
                  aria-current="true"
                {% endif %}
                hreflang="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                data-value="{{ language.iso_code }}"
              >
                {{ language.endonym_name | capitalize }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="disclosure-mobile">
        <div class="title-mobile desktop">
          <span>{{ 'main_menu.language.title' | t }}</span>
        </div>
        <div class="disclosure-mobile-content">
          {% for language in localization.available_languages %}
            <div class="disclosure__item-mobile mr-20" tabindex="-1">
              <a
                href="#"
                {% if language.iso_code == localization.language.iso_code %}
                  aria-current="true"
                  class="active"
                {% endif %}
                hreflang="{{ language.iso_code }}"
                lang="{{ language.iso_code }}"
                data-value="{{ language.iso_code }}"
              >
                {{ language.endonym_name | capitalize }}
              </a>
            </div>
          {% endfor %}
        </div>
        <div class="disclosure-menu-link">
          <span>
            {{ 'general.show_all' | t }}
          </span>
        </div>
      </div>
    {% endform %}
  </localization-form>
{% endif %}
