<ul class="list-social list-unstyled list-social">
  {%- if settings.facebook != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.facebook }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.facebook' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.instagram != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.instagram }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.instagram' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.twitter != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.twitter }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.twitter' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.pinterest != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.pinterest }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.pinterest' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.vimeo != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.vimeo }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.vimeo' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.linkedin != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.linkedin }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.linkedin' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.linkedin' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.whatsapp != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.whatsapp }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.whatsapp' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.whatsapp' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.tumblr != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.tumblr }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.tumblr' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.snapchat != blank -%}
    <li class="list-social__item d-inline-block mr-10 my-5 last-r-0:last-child">
      <a
        href="{{ settings.snapchat }}"
        class="w-40 h-40 d-inline-flex middle-center link list-social__link px-10 tooltip rounded-corner-item"
        aria-label="{{ 'general.social.links.snapchat' | t }}"
      >
        <span class="tooltip-content tooltip-top">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>
