{%- liquid
  assign section_st = section.settings
  assign section_width = section_st.section_width
  assign color_scheme = section_st.color_scheme
  if section_st.reset_spacing
    assign reset_spacing = ' remove_spacing'
  endif
-%}
{%- capture style -%}
    --section-pt: {{ section_st.padding_top }}px; --section-pb: {{ section_st.padding_bottom }}px; --gap: {{ section_st.space_between_text }}px; --speed: {{ section_st.speed }}s; --font-size: {{ section_st.font_size }}px;
  {%- endcapture -%}
<section
  class="section sec__icon-box color-{{ color_scheme }} gradient{{ reset_spacing }}"
  style="{{ style | strip | strip_newlines }}"
>
  <div class="{{ section_width }}">
    <div
      class="sec__icon-box-inner grid grid-cols"
      style="--col-gap: {{ section_st.column_gap }}px; --col-number: {{ section_st.items_per_row_mobile }};{% if section.blocks.size > 4 %}--col-tablet: 2;{% endif %} --col-desktop: {{ section.blocks.size }}"
    >
      {%- for block in section.blocks -%}
        {%- liquid
          assign block_st = block.settings
          assign image = block_st.icon_image

          assign icon_position = ''
          if section_st.icon_position == 'left'
            assign icon_position = 'flex-row'
          elsif section_st.icon_position == 'right'
            assign icon_position = 'flex-row-reverse'
          elsif section_st.icon_position == 'top'
            assign icon_position = 'flex-col'
          elsif section_st.icon_position == 'bottom'
            assign icon_position = 'flex-col-reverse'
          endif
        -%}
        <div
          class="sec__icon-box-item flex {{ icon_position }}{% if section_st.icon_position == 'top' and section_st.content_alignment == 'center' %} align-center{% endif %}{% if section_st.icon_position == 'top' and section_st.content_alignment == 'right' %} align-end{% endif %} gap-custom{% if section_st.icon_position == 'top' and section_st.content_alignment == 'center' %} align-center{% endif %}{% if section_st.type == 'frame' %} border p-15 radius-5{% endif %}"
          style="--gap: {{ section_st.spacing }}px"
        >
          {%- if image != blank or block_st.icon_svg != 'none' or block_st.custom_svg != blank -%}
            <div class="sec__icon-box-content-icon" style="--custom-width: {{ section_st.icon_size }}px">
              {%- if image != blank and block_st.icon_svg == 'none' and block_st.custom_svg == blank -%}
                {{
                  image
                  | image_url: width: image.width
                  | image_tag:
                    loading: 'lazy',
                    width: block.settings.image.width,
                    height: block.settings.image.height,
                    sizes: size,
                    widths: width
                }}
              {%- elsif block_st.custom_svg != blank -%}
                <span class="custom-svg w-custom">
                  {{ block_st.custom_svg }}
                </span>
              {%- elsif block_st.icon_svg != 'none' -%}
                {% render 'icon_svg_list', icon: block_st.icon_svg, custom_width: section_st.icon_size %}
              {%- endif -%}
            </div>
          {%- endif -%}
          <div class="sec__icon-box-content text-{{ section_st.content_alignment }}">
            <h3
              class="sec__icon-box-content-heading mt-0 fs-custom mb-custom {{ section_st.heading_font_weight }}{% if section_st.uppercase %} uppercase{% endif %}"
              style="--font-size: {{ section_st.heading_font_size }}px; --space-bottom: {{ section_st.heading_spacing_bottom }}px"
            >
              {{ block_st.heading }}
            </h3>
            <div
              class="sec__icon-box-content-des rich__text-m0 fs-custom {{ section_st.des_font_weight }}"
              style="--font-size: {{ section_st.des_font_size }}px"
            >
              {{ block_st.description }}
            </div>
          </div>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.icon_box.name",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "label": "t:sections.all.section_width.label",
      "default": "container",
      "options": [
        {
          "value": "container",
          "label": "t:sections.all.section_width.container.label"
        },
        {
          "value": "fluid_container",
          "label": "t:sections.all.section_width.fluid_container.label"
        },
        {
          "value": "stretch_width",
          "label": "t:sections.all.section_width.stretch_width.label"
        },
        {
          "value": "full_width",
          "label": "t:sections.all.section_width.full_width.label"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:sections.icon_box.settings.type.label",
      "default": "default",
      "options": [
        {
          "value": "default",
          "label": "t:sections.icon_box.settings.type.default.label"
        },
        {
          "value": "frame",
          "label": "t:sections.icon_box.settings.type.frame.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "column_gap",
      "label": "t:sections.all.items.column_gap.label",
      "default": 30,
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.icon_box.settings.icon_setting.label"
    },
    {
      "type": "select",
      "id": "icon_position",
      "label": "t:sections.icon_box.settings.icon_position.label",
      "default": "left",
      "options": [
        {
          "value": "top",
          "label": "t:sections.icon_box.settings.icon_position.top.label"
        },
        {
          "value": "right",
          "label": "t:sections.icon_box.settings.icon_position.right.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.icon_box.settings.icon_position.bottom.label"
        },
        {
          "value": "left",
          "label": "t:sections.icon_box.settings.icon_position.left.label"
        }
      ]
    },
    {
      "type": "range",
      "id": "icon_size",
      "label": "t:sections.icon_box.settings.icon_size.label",
      "default": 30,
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "spacing",
      "label": "t:sections.all.content_settings.spacing.label",
      "default": 1,
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:sections.all.content_settings.label"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:sections.all.content_settings.content_alignment.label",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "t:sections.all.content_settings.content_alignment.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.all.content_settings.content_alignment.center.label"
        },
        {
          "value": "right",
          "label": "t:sections.all.content_settings.content_alignment.right.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.contents.heading.label"
    },
    {
      "type": "range",
      "id": "heading_font_size",
      "label": "t:sections.all.content_settings.font_size.label",
      "default": 16,
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "t:sections.all.content_settings.font_weight.label",
      "default": "heading_weight",
      "options": [
        {
          "value": "body_weight",
          "label": "t:sections.all.content_settings.font_weight.body_weight.label"
        },
        {
          "value": "subheading_weight",
          "label": "t:sections.all.content_settings.font_weight.subheading_weight.label"
        },
        {
          "value": "heading_weight",
          "label": "t:sections.all.content_settings.font_weight.heading_weight.label"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "heading_uppercase",
      "label": "t:sections.all.text_transform.uppercase.label"
    },
    {
      "type": "range",
      "id": "heading_spacing_bottom",
      "label": "t:sections.all.content_settings.spacing.spacing_bottom.label",
      "default": 15,
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "paragraph",
      "content": "t:sections.all.contents.description.label"
    },
    {
      "type": "range",
      "id": "des_font_size",
      "label": "t:sections.all.content_settings.font_size.label",
      "default": 14,
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px"
    },
    {
      "type": "select",
      "id": "des_font_weight",
      "label": "t:sections.all.content_settings.font_weight.label",
      "default": "body_weight",
      "options": [
        {
          "value": "body_weight",
          "label": "t:sections.all.content_settings.font_weight.body_weight.label"
        },
        {
          "value": "subheading_weight",
          "label": "t:sections.all.content_settings.font_weight.subheading_weight.label"
        },
        {
          "value": "heading_weight",
          "label": "t:sections.all.content_settings.font_weight.heading_weight.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.mobile_options.label"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "label": "t:sections.all.mobile_options.carousel_on_mobile.label",
      "default": false
    },
    {
      "type": "select",
      "id": "items_per_row_mobile",
      "label": "t:sections.all.items.items_per_row.label",
      "default": "1",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.section_padding.label"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "t:sections.all.section_padding.top.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "t:sections.all.section_padding.bottom.label",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "remove_default_spacing",
      "label": "t:sections.all.section_padding.remove_default_spacing.label",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "icon_box",
      "name": "t:sections.icon_box.name",
      "limit": 5,
      "settings": [
        {
          "type": "image_picker",
          "id": "icon_image",
          "label": "t:sections.all.image.label"
        },
        {
          "type": "select",
          "id": "icon_svg",
          "label": "t:sections.all.svg.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:sections.all.icon.none.label"
            },
            {
              "value": "free_shipping",
              "label": "t:sections.all.icon.free_shipping.label"
            },
            {
              "value": "check_badge",
              "label": "t:sections.all.icon.check_badge.label"
            },
            {
              "value": "message_communications",
              "label": "t:sections.all.icon.message_communications.label"
            }
          ]
        },
        {
          "type": "textarea",
          "id": "custom_svg",
          "label": "t:sections.all.svg.custom_svg.label",
          "info": "t:sections.all.svg.custom_svg.info"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "t:sections.all.contents.heading.label",
          "default": "This is heading text"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "t:sections.all.contents.description.label",
          "default": "<p>Tell about your service.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.icon_box.name",
      "blocks": [
        {
          "type": "icon_box"
        },
        {
          "type": "icon_box"
        }
      ]
    }
  ]
}
{% endschema %}
